@import "tailwindcss";
/* Fonts */
@font-face {
    font-family: 'FiraCode';
    src: url('/fonts/Firacode/static/firacode-400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraCode';
    src: url('/fonts/Firacode/static/firacode-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraCode';
    src: url('/fonts/Firacode/static/firacode-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraCode';
    src: url('/fonts/Firacode/static/firacode-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Festive';
    src: url('/fonts/Festive/static/festive-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-primary: #c778dd;
    --color-gray: #abb2bf;
    --color-background: #282c33;
    --color-white: #ffffff;
    --font-fira: FiraCode, ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', 'Segoe UI Mono', 'Noto Mono', monospace;
    --font-festive: Festive, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}